[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
dbt-core = "*"
dbt-snowflake = "*"
python-dotenv = {extras = ["cli"], version = "*"}
prophecy-build-tool = "==1.2.49"

[dev-packages]

[requires]
python_version = "3.10"
